body {
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 9%, rgba(253,187,45,1) 73%); */
    height: 100%;
}
#root{
    height: 100vh;
}
.app{
    height: 100%;
    width: 100%;
}
.mid-body
{height: 100%;
    width: 100%;
}